<div class="car-delete-confirmation-dialog-wrapper">
  <h1 mat-dialog-title>Delete</h1>

  <h4>Are you sure to delete car with ID <b>{{data.id}}</b>?</h4>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="submitDelete()">
      Delete
    </button>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
  </div>
</div>
