<div class="car-info-dialog-wrapper">
  <h1 mat-dialog-title>Details</h1>
  <p><strong>Id: {{data.id}}</strong></p>
  <p>Year Of Manufacture: <b>{{data.yearOfManufacture}}</b></p>
  <p>Engine Capacity: <b>{{data.engineCapacity}}</b></p>
  <p>Color: <b>{{data.color}}</b></p>
  <p>Weight: <b>{{data.weight}}kg</b></p>
  <p>Client: <b>{{data.clientId}}</b></p>
  <p>Insurance contracts: <b>null</b></p>


  <div mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Close</button>
  </div>
</div>
