<div class="navigation-wrapper">
  <mat-toolbar color="primary">
    <a routerLink="">Pet Project</a>
    <span class="example-spacer"></span>
    <a routerLink="clients" mat-raised-button color="accent">Clients</a>
    <a routerLink="cars" mat-raised-button color="accent">Cars</a>
    <a routerLink="insurance-complexes" mat-raised-button color="accent">Complex</a>
    <a routerLink="insurance-contract" mat-raised-button color="warn">Create contract</a>
  </mat-toolbar>
</div>
