<div class="car-create-dialog-wrapper">
  <h1 mat-dialog-title>Create car</h1>
  <div class="edit-form">
    <form [formGroup]="carForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <input matInput formControlName="color">
        <mat-error *ngIf="color.hasError('required')">
          Color is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="color.hasError('minlength')">
          The color must be at least <strong>3</strong> characters long
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Engine capacity</mat-label>
        <input matInput formControlName="engineCapacity">
        <mat-error *ngIf="engineCapacity.hasError('required')">
          Engine capacity is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Year of manufacture</mat-label>
        <input matInput formControlName="yearOfManufacture">
        <mat-error *ngIf="yearOfManufacture.hasError('required')">
          Year of manufacture is<strong>required</strong>
        </mat-error>
        <mat-error *ngIf="yearOfManufacture.hasError('minlength')">
          The year must be at least <strong>4</strong> characters long
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Weight(kg)</mat-label>
        <input matInput formControlName="weight">
        <mat-error *ngIf="weight.hasError('required')">
          Weight is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Client</mat-label>
        <mat-select formControlName="clientId">
          <mat-option *ngFor="let clientLookup of clientLookups" [value]="clientLookup.id">
            {{clientLookup.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="submitForm()" [disabled]="!carForm.valid">
      Create
    </button>
    <button mat-stroked-button mat-dialog-close>Close</button>
  </div>
</div>

