.client-create-dialog-wrapper {
  .edit-form {
    form {
      min-height: 400px;
      min-width: 280px;
      max-width: 500px;
      width: 100%;
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 7px;
    }
  }
}

