<div class="client-edit-dialog-wrapper">
  <h1 mat-dialog-title>Edit</h1>
  <div class="edit-form">
    <form [formGroup]="clientForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input type="text" matInput formControlName="firstName">
        <mat-error *ngIf="firstName.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="firstName.hasError('minlength')">
          The name must be at least <strong>4</strong> characters long
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="lastName.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="lastName.hasError('minlength')">
          The name must be at least <strong>4</strong> characters long
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Birth date</mat-label>
        <input matInput formControlName="birthDate">
        <mat-error *ngIf="birthDate.hasError('required')">
          Birth date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="submitForm()" [disabled]="!clientForm.valid">
      Save
    </button>
    <button mat-stroked-button mat-dialog-close>Close</button>
  </div>
</div>
