.cars-wrapper {
  .table {
    width: 80%;
    margin: 100px auto;
  }

  table {
    width: 100%;
  }

  .table-footer {
    display: inline-flex;

    button {
      margin: 20px 880px 20px 20px;
    }

  }

  .mat-form-field {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    width: 80%;
  }
}

