<div class="cars-wrapper">
  <div class="mat-elevation-z10 table">

    <table mat-table [dataSource]="cars" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
        <td mat-cell *matCellDef="let car">{{car.id}}</td>
      </ng-container>
      <!-- First Name Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
        <td mat-cell *matCellDef="let car">{{car.color}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="engineCapacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Engine capacity</th>
        <td mat-cell *matCellDef="let car">{{car.engineCapacity}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="yearOfManufacture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Year of manufacture</th>
        <td mat-cell *matCellDef="let car">{{car.yearOfManufacture}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
        <td mat-cell *matCellDef="let car">{{car.weight}} </td>
      </ng-container>

      <!-- Info Button Column -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let car">
          <button mat-button (click)="openCarInfoDialog(car)"><span class="material-icons">info</span>
          </button>
        </td>
      </ng-container>

      <!-- Delete Button Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let car">
          <button mat-button (click)="deleteCar(car)"><span class="material-icons">delete</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="table-footer">
      <button class="mat-button" (click)="openCarCreateDialog()" mat-raised-button color="primary">Create car</button>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div *ngIf="!cars">
    <h1>Cars not found.</h1>
  </div>
</div>


