<div class="complex-wrapper">
  <div class="mat-elevation-z10 table">
    <table mat-table [dataSource]="complexes" matSort matSortActive="created" matSortDisableClear
           matSortDirection="desc">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
        <td mat-cell *matCellDef="let complex">{{complex.id}} </td>
      </ng-container>

      <!-- Duration Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Duration</th>
        <td mat-cell *matCellDef="let complex">{{complex.duration}} </td>
      </ng-container>

      <!-- Compensation Percent Column -->
      <ng-container matColumnDef="compensationPercent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Compensation Percent</th>
        <td mat-cell *matCellDef="let complex">{{complex.compensationPercent}} </td>
      </ng-container>

      <!-- Damage Level Column -->
      <ng-container matColumnDef="damageLevel">
        <th mat-header-cell *matHeaderCellDef>Damage Level</th>
        <td mat-cell *matCellDef="let complex">{{complex.damageLevel}} </td>
      </ng-container>

      <!-- Covered Part Column -->
      <ng-container matColumnDef="coveredPart">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Covered Part</th>
        <td mat-cell *matCellDef="let complex">{{complex.coveredPart}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="table-footer">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div *ngIf="!complexes">
    <h1>Complexes not found.</h1>
  </div>
</div>


