<div class="clients-wrapper">
  <div class="mat-elevation-z10 table">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table mat-table [dataSource]="clients" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
        <td mat-cell *matCellDef="let client">{{client.id}} </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
        <td mat-cell *matCellDef="let client">{{client.firstName}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let client">{{client.lastName}} </td>
      </ng-container>

      <!-- Birth Date Column -->
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth date</th>
        <td mat-cell *matCellDef="let client">{{client.birthDate}}</td>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let client">{{client.email}}</td>
      </ng-container>

      <!-- Edit Button Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let client">
          <button mat-button (click)="openUserEditDialog(client)">
            <span class="material-icons">edit</span>
          </button>
        </td>
      </ng-container>

      <!-- info Button Column -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let client">
          <button mat-button (click)="openUserInfoDialog(client)"><span class="material-icons">info</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
    <div class="table-footer">
      <button class="mat-button" (click)="openUserCreateDialog()" mat-raised-button color="primary">Create client
      </button>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div *ngIf="!clients">
    <h1>Clients not found.</h1>
  </div>
</div>


