<div class="client-info-dialog-wrapper">
  <h1 mat-dialog-title>Details</h1>
  <strong>Id: <b>{{data.id}}</b></strong>
  <p>First name: <b>{{data.firstName}}</b></p>
  <p>Last name: <b>{{data.lastName}}</b></p>
  <p>Birth date: <b>{{data.birthDate}}</b></p>
  <p>Email: <b>{{data.email}}</b></p>
  <p>Password: <b>{{data.password}}</b></p>
  <p>Car ids: <b>null</b></p>
  <p>Insurance contracts: <b>null</b></p>


  <div mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Close</button>
  </div>
</div>

