<div class="contract-wrapper">
  <div class="mat-elevation-z10 table">
    <table mat-table [dataSource]="contracts" matSort matSortActive="created" matSortDisableClear
           matSortDirection="desc">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
        <td mat-cell *matCellDef="let contract">{{contract.id}} </td>
      </ng-container>

      <!-- Client Id Column -->
      <ng-container matColumnDef="clientId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Client Id</th>
        <td mat-cell *matCellDef="let contract">{{contract.client.fullName}} </td>

      </ng-container>

      <!-- Car Id Column -->
      <ng-container matColumnDef="carId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Car Id</th>
        <td mat-cell *matCellDef="let contract">{{contract.carId}} </td>
      </ng-container>

      <!-- Complex Id Column -->
      <ng-container matColumnDef="insuranceComplexesIds">
        <th mat-header-cell *matHeaderCellDef>Complex Ids</th>
        <td mat-cell *matCellDef="let contract">
          <mat-chip-list>
            <mat-chip
                *ngFor="let complexId of contract.insuranceComplexIds">
              <span>{{complexId}}</span>
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="table-footer">
      <button class="mat-button" (click)="openContractCreateDialog()" mat-raised-button color="primary">Create contract
      </button>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div *ngIf="!contracts">
    <h1>Complexes not found.</h1>
  </div>
</div>
